{% extends 'base.html'%}

{%block title %} Index {% endblock %}

  {% block body %}
    
    <div class="page-header">
      <h1>Answered Questions</h1>
    </div>
    <div class="row">
        <div class="col-lg-12">
          <div class="list-group">
            {% for userdet in question_home%}
              <a href="{{url_for('question',question_id=userdet['id'])}}" class="list-group-item">
                <h4 class="list-group-item-heading">Question:{{userdet['question']}}</h4>
                <p class="list-group-item-text">Asked by: {{userdet['asker_name']}}</p>
                <p class="list-group-item-text">Answered by: {{userdet['expert_name']}}</p>
              </a>
            {% endfor %}
          </div>
        </div><!-- /.col-lg-12 -->
    </div>
    
  {% endblock %}
   
