{% extends 'Base_template.html'%}

    {% block context%}
    <div class="container theme-showcase col-sm-6 col-sm-offset-3" role="main">

      <div class="row">
        <div>
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">{{preety_date}}</h3>
            </div>

            <div class="panel-body">

              <form method="POST" action="{{url_for('view',date=entry_date)}}">
                <div class="form-group">
                  <select class="form-control" name='food_selected'>
                    {% for food in foods%}
                      <option value={{food.id}} >{{food.food_name}}</option>
                    {% endfor %}
                  </select>
                </div>

                <button type="submit" class="btn btn-primary">Add</button>

              </form>
                <div class="page-header"></div>
                <ul class="nav nav-pills" role="tablist">
                  <li class="active"><a>Total</a></li>
                  <li><a>Protein: <span class="badge">{{total_fats.protein}}</span></a></li>
                  <li><a>Carbohydates: <span class="badge">{{total_fats.carbohydrates}}</span></a></li>
                  <li><a>Fat: <span class="badge">{{total_fats.fat}}</span></a></li>
                  <li><a>Calories: <span class="badge">{{total_fats.calories}}</span></a></li>
                </ul>
            </div>

            <div class="page-header"></div>
            {% for log_result in log_results %}
            <div class="panel-body">
              <ul class="nav nav-pills" role="tablist">
                <li class="active"><a>{{log_result.food_name}}</a></li>
                <li><a>Protein: <span class="badge">{{log_result.protein}}</span></a></li>
                <li><a>Carbohydates: <span class="badge">{{log_result.carbohydrates}}</span></a></li>
                <li><a>Fat: <span class="badge">{{log_result.fat}}</span></a></li>
                <li><a>Calories: <span class="badge">{{log_result.calories}}</span></a></li>
              </ul>
            </div>
            {% endfor %}

          </div>
        </div>
      </div>

    </div>
    {%endblock%}